/* Khai bao color paletts */
:root {
  --color-black: #181818;
  --color-black-shadow: #00000026;

  --color-white: #ffffff;
  --color-white-soft: #f4f2f1;

  --color-brown-light: #d1a681;
  --color-brown: #7c3e15;
  --color-brown-shadow: #7c3e1580;
  --color-brown-light-background: #d1a68133;

  --color-gray: #808080;
  --color-gray-opacity-6: rgba(128, 128, 128,0.6);
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-size: 14px;
}

body {
  background-color: var(--color-white-soft);
}

@media (min-width: 1150px) {
  header {
    width: 15%;
    box-shadow: 0 0 10px 4px var(--color-black-shadow);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
  }

  header::-webkit-scrollbar{
    width: 0;
  }

  main {
    width: 100%;
    padding: 10px 10px 10px 16%;
  }
}
