/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500;6..12,600;6..12,700&display=swap');

/* Khai bao color paletts */
:root {
  --color-black: #181818;
  --color-black-shadow: #0000000d;

  --color-white: #ffffff;
  --color-white-soft: #f4f2f1;
  --color-white-brown: #efd6c0;

  --color-brown: #7c3e15;
  --color-brown-bg: #aa6130;
  --color-brown-shadow: #7c3e1580;
  --color-brown-light: #c19268;
  --color-brown-light-op: rgba(193, 146, 104, 0.9);

  --color-gray: #808080;
  --color-gray-opacity-6: rgba(128, 128, 128,0.6);
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body {
  background-color: var(--color-white-soft);
}

header {
  width: 220px;
  height: 100%;
  box-shadow: 0 0 10px 4px var(--color-black-shadow);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  z-index: 50;
  overflow-x: hidden;
  overflow: scroll;
  transition: all 0.3s ease;
}

header::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  padding: 10px 10px 10px 260px;
  transition: all 0.5s ease;
}

.fullpage_bg {
  display: none;
  z-index: 51;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
}

@media (max-width: 1100px) and (min-width: 600px) {
  header {
    width: 55px;
    height: 100%;
    background-color: var(--color-brown-bg);
    transition: all 0.5s ease;
  }

  header:hover {
    width: 220px;
    transition: all 0.5s ease;
  }

  main {
    padding-left: 70px;
    transition: all 0.5s ease;
  }
}

@media (max-width: 600px) {
  header {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background-color: var(--color-brown-bg);
    transition: all 0.5s ease;
    display: grid;
    grid-template-areas: 'logo navbar user';
    grid-template-columns: 5fr 1fr 1fr;
    align-items: center;
  }

  main {
    width: 100%;
    padding: 70px 10px 10px 10px;
    transition: all 0.5s ease;
  }
}
