@import '@/assets/base.css';

#login_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

#login_form {
    width: 35%;
    background-color: var(--color-white);
    box-shadow: 0 0 30px 5px var(--color-black-shadow);
    transition: all 0.3s ease;
}

.error_message {
    font-size: 0.9rem;
    font-weight: 500;
}

#logo_app {
    height: 25%;
    width: 80%;
}

@media (max-width: 1160px) and (min-width: 600px) {
    #login_form {
        width: 400px;
        transition: all 0.3s ease;
    }
}

@media (max-width: 600px) {
    #login_page {
        background-color: var(--color-white);
        justify-content: start;
        transition: all 0.3s ease;
    }

    #login_form {
        width: 400px;
        background-color: transparent;
        box-shadow: none;
        transition: all 0.3s ease;
    }
}